%cubic {
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

%n500 {
	font-style: normal;
	font-weight: 500;
}
%fs-fw {
	font-style: normal;
	font-weight: normal;
}

%f-sf-w {
	font-style: normal;
	font-weight: bold;
}