//** гамма применяемых color **
$bg: #ffffff;
$bg-footer: #2f303a;
$text-a: #212121;
$text-b: #757575;
$logoColor: #afb1b8;
$button-a: #f5f4fa;
$button-b: #2196f3;
$bg-b: rgba(33, 150, 243, 0.9);
$text-c: rgba(255, 255, 255, 0.1);
$overlay: rgba(47, 48, 58, 0.8);
$Ro: 'Roboto';
$Ra: 'Raleway';
$ss: sans-serif;